<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Users</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div>
        <img src="/default-avatar.png">
    </div>

    <div th:each="user : ${allusers}">
        New User:<h3 th:text="${user.username}"></h3>
        <a th:href="'/users/' + ${user.id}"><h4 th:text="${user.firstname}"></h4></a>
        <h4 th:text="${user.lastname}"></h4>
        <h4 th:text="${user.dateOfBirth}"></h4>
        <h4 th:text="${user.bio}"></h4>

        <form method="POST" action="/feed">
            <button type="submit">Follow</button>
            <input type="hidden" name="followedUser" th:value="${user.id}">
        </form>
    </div>
</body>
</html>